*{
    box-sizing: border-box;
}

@font-face {
    font-family: FontFont;
    src: url(../Josefin_Sans/static/JosefinSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: FontFontFont;
    src: url(../Josefin_Sans/static/JosefinSans-Light.ttf);
    font-weight: 500;
    font-style: normal;
}

header{
    background-color: #243045;
    padding: 35px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-family: "FontFont", sans-serif;
    border-bottom: 7px solid #ec9006;
}

.text{
    display: block;
    color: #ffff;
    font-size: 30px;
}

body{
    margin: 0;
}
