@font-face {
  font-family: FontFont;
  src: url(../Josefin_Sans/static/JosefinSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: FontFontFont;
  src: url(../Josefin_Sans/static/JosefinSans-Light.ttf);
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary-color: #243045;
  --secondary-color: #ec9006;
  --hover-orange: #f1b04c;
  --input-color: #2c3c55;
}

img {
  max-width: 100% !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../Images/hostel-2.jpg);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(20px);
}

header {
  padding: 30px;
  background-color: var(--primary-color);
  border-bottom: 7px solid var(--secondary-color);
  color: #ffff;
  font-family: "FontFont", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0;
  font-size: 32px;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.stat {
  font-size: 16px;
}

.brick-img {
  width: 100%;
}

.stat-img-wrapper {
  display: flex;
}

.stat {
  width: 50%;
  background-color: var(--primary-color);
  color: #ffff;
  font-family: "FontFont";
  padding: 15px;
  border-radius: 10px;
  margin: auto;
}

.main-container {
  width: 90%;
  margin: auto;
}

.images {
  width: 50%;
  box-shadow: 2px 5px 10px 2px black;
  border-radius: 10px;
  margin: 10px;
}

.buttons {
  text-align: center;
  font-family: "FontFont", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  color: black;
  background-color: #ec9006;
  max-width: 100%;
  width: 10%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: "FontFontFont", "sans-serif";
  font-weight: 700;
  font-size: 15px;
}

.btn:hover {
  background-color: #f1b04c;
}

.socials {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  width: 15%;
  max-width: 100%;
}

.footer {
  text-align: center;
  margin: 40px 0 0 0;
  font-family: "FontFont", sans-serif;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(20px);
}
